---
import skills from '../data/skills.json'
import proyects from '../data/proyects.json'
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='josttme'>
  <div
    class='flex h-10 w-full place-content-center items-center gap-1 pt-5 text-center opacity-70 lg:justify-start lg:pl-10 lg:text-left'
  >
    <h2 class='text-2xl font-bold text-textColor/90'>JosttMe</h2>
    <img
      width='40'
      height='40'
      src='https://res.cloudinary.com/josttme/image/upload/c_fill,h_80,q_80,w_80/v1677042772/jostt.me/images/logo/y9shy5qav0dybfxgax2v.avif'
      alt='JosttMe Logo'
    />
  </div>
  <div class='grid w-full place-content-center pt-44 pb-32 text-center text-textColor/60'>
    <h1 class='text-4xl lg:text-5xl'>
      Hi, I’m
      <span class='name bg-gradient-to-r from-[#00b7ff] to-[#ce00c0]'>Josue Tapia</span>,
    </h1>
    <span class='text-3xl lg:text-4xl'>Front End JavaScript</span>
  </div>

  <div class='mr-auto ml-auto w-10/12 pb-10 lg:w-[1000px]'>
    <h2
      class='mr-auto ml-auto mb-5 w-full max-w-[20rem] text-2xl font-semibold text-textColor/60 md:text-center lg:ml-0 lg:w-[1000px] lg:text-left'
    >
      Skills
    </h2>
    <div
      class='mr-auto ml-auto mb-14 grid max-w-[320px] grid-cols-skills place-items-center gap-2 rounded-lg bg-[#053b86] p-2 lg:max-w-[1000px] lg:pr-64 lg:pl-64'
    >
      {
        skills.map(({ title, size }) => (
          <img
            class='duration-100 ease-card'
            title={title}
            src={`/${title.toLowerCase()}.svg`}
            width={size}
            height={size}
            alt={`Logo ${title}`}
          />
        ))
      }
    </div>
    <h2
      class='mr-auto ml-auto w-full max-w-[20rem] text-2xl font-semibold text-textColor/60 md:text-center lg:ml-0 lg:w-[1000px] lg:text-left'
    >
      Projects
    </h2>
    <div class='grid w-full grid-cols-card gap-10 pb-5 pt-5 sm:grid-cols-card lg:w-[1000px]'>
      {
        proyects.map(({ title, url, image, tags, width, height }) => (
          <Card
            title={title}
            url={url}
            image={image}
            width={width}
            height={height}
            tags={tags}
          />
        ))
      }
    </div>
  </div>
  <div class='grid w-full place-content-center pt-2 pb-5'>
    <span class='text-textColor/50'>&copy; 2033 JosttMe</span>
  </div>
</Layout>

<style>
  .name {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
