---
import skills from '../data/skills.json'
export interface Props {
  title: string
  image: string
  url: string
  width: number
  height: number
  tags: string[]
}

const { title, url, image, tags, width, height } = Astro.props
---

<a
  target='_blank'
  href={url}
  class='mr-auto ml-auto grid w-full max-w-[20rem] cursor-pointer grid-rows-card place-content-center gap-2 overflow-hidden rounded-lg border-[5px] border-transparent bg-[#06459b] p-1 duration-200 ease-card hover:scale-[1.03] lg:hover:border-textColor'
>
  <h3 class='self-center text-center text-2xl font-semibold text-textColor/60'>
    {title}
  </h3>
  <div class='w-full grid place-content-center'>
    <img
      class='w-ful rounded-lg border-[3px] border-[#030404]/60'
      width={width}
      height={height}
      src={image}
    />
  </div>
  <div
    class='grid grid-cols-5 h-14 w-full place-items-center gap-2 rounded-lg bg-[#060808fa] pl-2 pr-2'
  >
    {
      tags.map((tag) => {
        const tagData = skills.find((t) => t.title === tag)
        return (
          <img
            title={tagData.title}
            src={`/${tagData.title.toLowerCase()}.svg`}
            width={tagData.size - 12}
            alt={`Logo ${tagData.title}`}
          />
        )
      })
    }
  </div>
</a>
